 /* 
 position
 flujo html = es el orden el que aparecen los elementos en el documento 
 
 espacio = es el espacio que ocupa un elemento en el documento 
 */

 .titulo{
     text-align: center;
     font-size: 3em;
 }

 .parrafo-1, .parrafo-2{
     font-size: 2em;
 }

 .parrafo-1{
     visibility: hidden;
     
 }