/* 
position relative

su punto de referencia (contexto) es el punto donde aparece en el flujo 

al ser un elemento posicioando lo podemos mover en los 3 ejes X Y Z
*/

.box-1, .box-2{
    width: 250px;
    height: 250px;
    margin: 1em auto;
    font-size: 2.5em;
    text-align: center;
    color: teal;
}

.box-1{
    background: lightgreen;
    position: relative;
    /* podemos usar top right botton left  z-index */

    /* si teclaramos z-index automaticamente se dibuja por encima por tener  un valor mayor que el de por defecto (0|)*/
    /* right: 50px;
    bottom: 30px; */
    /* top y left tienen preferencia ante botton y right */

    top: 100px;
}

.box-2{
    background: lightcoral;
    position: relative;
}