/*
    Border radius

    Es un shorthand que engloba:
    border-top-left-radis
    border-top-right-radius
    border-bottom-right-radius
    border-bottom-left-radius

    border-radius: all;
    border-radius: top-left/bottom-right top-right/bottom-left;
    border-radius: top-left top-right/bottom-left bottom-right;
    border-radius: top-left top-right bottom-left bottom-right;

    Elipses
    border-radius: 10px / 50px;
        border-top-left-radius: 10px 50px;
        border-top-right-radius: 10px 50px;
        border-bottom-right-radius: 10px 50px;
        border-bottom-left-radius: 10px 50px;

    border-radius: 10px 50px / 50px 100px;
        border-top-left-radius: 10px 50px;
        border-top-right-radius: 50px 100px;
        border-bottom-right-radius:10px 50px;
        border-bottom-left-radius: 50px 100px;

    border-radius: 10px 50px 60px / 50px 100px 200px;
        border-top-left-radius: 10px 50px;
        border-top-right-radius: 50px 100px;
        border-bottom-right-radius:60px 200px;
        border-bottom-left-radius: 50px 100px;

    border-radius: 10px 50px 60px 80px/ 50px 100px 200px 300px;
        border-top-left-radius: 10px 50px;
        border-top-right-radius: 50px 100px;
        border-bottom-right-radius:60px 200px;
        border-bottom-left-radius: 80px 300px;
*/


    .box{
        width: 200px;
        height: 200px;
        background: #f08080;
        position: relative;
        /* border-radius: 30px 50px 100px 200px; */
        /* border-bottom-left-radius: 10px 50px ; */
        border-radius: 10px 50px /10px 50px;
        
    }