/* 
    table-layout: Define como se comportan las dimensiones de una tabla y los anchos de las "columnas"
        automatic: valor por defecto
        fixed: necesita un width declarado, si no se le da un ancho a cada columna se ditribuyen equitativamente

    caption-side: define donde se coloca el caption de una tabla.
        top: valor por defecto
        bottom: se coloca al pie de la tabla
    
    border-spacing: Controla el espacio entre las celdas
        recibe una medida en cualquier unidad 

    border-collapse: Controla si las celdas se mantienen juntas o separadas.
        separate: valor por defecto
        collapse: junta las celdas para no
    
    empty-cells: Controla qué hacer con las celdas vacías
        show: valor por defecto
        hide: oculta las celdas vacías
*/

/* .table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
} */

/* .table{
    caption-side: bottom;
} */

.table, .table__data, .table__head{
    border: 1px solid black;
    border-spacing: 10px;
}

.table{
    width: 100%;
    empty-cells: hide;
}

.table__data{

    background: lightblue;
}

.table-container{
    overflow-x: auto;
}