/* etiqueta --> 1
    clases y pseudoclases -> 10
    id -> 100
    estilos en linea -> 1000
    !important -> gana a todo 

    important - especifidad - cascada

*/
#parrafo{
    color: blueviolet;
}

.parrafo{
    color: red;
}

a{
    color: inherit;
}

p{
    color: green;
}