.main-title{text-align: center;}

.header{background: lightblue;height: 50px;}

.main{background: lightgreen;height:600px;}

.footer{background: lightsalmon;height:200px;}


/* nav ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

 nav ul li{
     line-height: 3;
 }

 nav ul li a{
     text-decoration: none;
     font-size: 1.2em;
 } */

 .main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
 }

 

 .main-menu__item{
    line-height: 3;
 }

 .main-menu__link{
    text-decoration: none;
    font-size: 1.2em;
    color: blue;
 }

.main-menu__link--active{
    background: red;
}


 