/* 

Outline

outline-width
    px|em|rem|%|....

outline-style
    none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;

    *Estas medidas dependen del navegador*
    thick (ancho)
    medium (medio)
    thin (fino)
        
outline-color
    css native|rgb|rgba|hsl|hsla|hexadecimal|transparent

outline-top-(width | style | color)
outline-right-(width | style | color)
outline-bottom-(width | style | color)
outline-left-(width | style | color)

*/

.img-box{
    width: 90%;
    margin: 2em auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border: 5px solid lightcoral;
    outline:  5px solid lightcoral;
    outline-offset: -30px;
}

.text{
    position:  absolute;
    color: lightcoral;
    font-size: 3em;
}