/* 

box-shadow

Es una propiedad que crea una una sombra del tamaño de la caja

box-shdow: h-offset v-offset blur spread color inset|outset
    h-offset: Es el desplazamiento horizontal de la sombra
    v-offset: Es el desplazamiento vertical de la sombra
    blur: Optional Es la cantidad de desenfoque de la sombra
    spread: Optional Es la extensión de la sombra
    color: Optional color de la sombra, si no se especifica tomará el color del texto
    inset|outset: Optional Determina si la sombra se dibuja por dentro o por fuera de la caja

    Con valor outset(default) los valores positivos añaden a derecha y abajo y los valores negativos añaden a iquierda y arriba
    Con valor inset se invierten los valores, positivo sería izquierda y arriba y negativo sería derecha y abajo

    box-shadow: 10px 10px 2px 5px red;

    Sombras múltiples.
    Se añaden las sombras separadas por comas
    box-shadow: 10px 10px 2px 5px red, -10px -10px 2px 5px blue;

text-shadow: h-offset v-offset blur color
    Sombras múltiples.
        Se añaden las sombras separadas por comas text-shadow: 10px 10px 2px red, -11px -11px 2px blue;

*/


.box{
    background: rgb(90, 25, 25);
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-shadow: 10px 10px 5px 5px;
}

.title{
    text-align: center;
    text-shadow: 1px 1px 0 red;
}

.box-nav-item{
    width: 400px;
    height: 500px;
    color: black;
    border: 3px solid black;
    background-color: black;

}