:root{
    --color: red;
    --border: 2px solid blue;
}

.paragraph{
    color: var(--color);
}

.article{
    --color:green;
}

.check:checked{
    --color: purple;
}

.box{
    height: 100px;
    width: 100px;
    background: var(--color);
    border: var(--border)
}