/* 
DISPLAY:nos permite definir como se comporta una caja.De forma natural existen elementos en linena y elementos en bloque

los valores son:
    
    inline-Establece que la caja se comporta como si fuera un elemento en linea

    block- Establece que la caja se comporte como si fuera un elemento de bloque

    inline-block- se comporta como un elemento en linea pero acepta with y heigth

    none-oculta el elemento pero se sigue renderizando

    flex- maquetar componentes
    grid- maquetar layout

*/

.inline{
    background: lime;
    display: none
}

.block{
    background: yellow;

}