h1{
    background: lightblue;
    height: 150px;
    width: 100px;
}

h2{
    background: rebeccapurple;
    width: 50px;
}

a{
    background: green;
    width: 300px;
    height: 300px;
}

.box-1{
    width: 100px;
    height: 100px;
    background: lime;
    padding: 10px;
    border: 10px solid purple;
    margin: 20px;
    outline: 10px solid blue;
}

.box-2{
    width: 100px;
    height: 100px;
    background: lightcoral;
}