
/* 
Flexbox
    display:flex
        Convierte el contenedor en un contexto para flexbox y hace que el contenedor sea un elemento de bloque para los elementos que lo rodean
    display:inline-flex
        Convierte el contenedor en un contexto para flexbox y hace que el contenedor sea un elemento en línea para los elementos que lo rodean

    flex-direction: row(default) | row-reverse | column | column-reverse
        Modifica la dirección y cual es el eje principal.
        Por defecto es row (horizontal de izquierda a derecha)
        row-reverse (horizontal de derecha a izquierda)
        column vertical de arriba abajo
        column-reverse vertical de abajo arriba

    flex-wrap: no-wrap(default) | wrap | wrap-reverse
        Controla si los elementos saltarán de línea o no
        no-wrap es el valor por defecto, un contenedor flex va a hacer que todos los elementos se queden en una línea si no le especificamos lo contrario
        wrap hace que los elementos que no quepan en una línea (manteniendo sus dimensiones, si las tuvieran) salten a la linea inferior.
        wrap-reverse hace lo mismo que wrap pero en lugar de hacer que salten a la línea inferior, hace que salten a la linea superior. 
*/

.flex-container {
    background: tomato;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: nowrap;
}
.flex-item {
    padding-top: 10px;
    margin : 10px;
    height: 50px;
    width: 60px;
    text-align: center;
    background-color: brown;
}
