/* selector de etiqueta
p{
    color:red;
}

h1{
    color: blue;
}

/*selectores de clase

.title{
    color: green;
}

.text{
    color: blueviolet;
}

/* selectores de id 

#title{
    color: aqua;
}

#text{
    color: cornflowerblue;
} 
*/

/* selectores universales 
*{
    color: red;
}
*/

/* Selectores de atributos */

[href]{
    color:green;
}

[href="a"]{
    color:red;
}

[class~="verde"]{
    color:green;
}

[class|="verde"]{
    color:blue;
}

[class^="rojo"]{
    color: purple;
}

[class$="rojo"]{
    color: darkgoldenrod;
}

[class*="rojo"]{
    color:darkslategrey;
}

/* selectores combinadores */

/* selector de hermano anyacente */
/* selecciona al hermano que este justo a el se le aplica estilo al hermano siguiente */

h1 + h2{
    color: red;
}

h2 +h2{
    color: blue;
}

/* selector de hermano general */

h1 ~ h3{
    color: green;
}

/* selectores decendente */

p span{
    color: red;
}

div span{
    color: aquamarine;
}
/* selector de hijo directo */

p > span{
    color: blue;
}