/* 
su punto de referencia (contexto) es el viewport (el espacio en pantalla) 

al ser un elemento posicionado lo podemos mover en los 3 ejes X Y Z
*/
body{
    padding-top: 6em;
}
.menu{
    background: darkcyan;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

.titulo{
    margin: 0;
}

.parrafo1{

}