/* 
se utilizan para dar estilo a partes especificas de un elemento.

La sintaxis es selector::pseudo-element{estilos}

existen 5 pseudoelementos:
    ::first-letter(elementos de bloque)
    ::first-line (elementos de bloque)
    ::selection
    ::after
    ::before

    la propiedad  content es obligatoria
    son elementos de linea por defecto
    son hijos de elemento al que pertenecen
*/

.title::first-letter{
    color: red;
    font-size: 3em;
}

.text::first-line{
    color: blue;
    font-size: 2em;
}
.inline{
    display: inline-block;
}

.inline::first-letter{
    color:red;
    font-size: 2em;
}

/* .text::selection{
    color: lime;
    background: red;
} */

.dolar::before,
.dolar::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: saddlebrown;
}