
.box{
    width: 75px;
    height: 75px;
    font-size: 1.5em;
    line-height: 75px;
    text-align: center;
    position: relative;
    color: red;
}

.box1{
    background: yellow;
    z-index: 30;
}
.box2{
    background: turquoise;
    top: -30px;
    left: 30px;
    z-index: 20;
}
.box3{
    background:tomato;
    top: -75px;
    left: 75px;
    z-index: 10;
}

.box4{
    background: black;
    top: -150px;
    left: 50px;
    z-index: 15;
    
}

.padre{
    width: 200px;
    height: 200px;
    background: violet;
    position: relative;
    top: 30px;
   
}

.hijo{
    width: 50px;
    height: 50px;
    background: yellow;
    position: relative;
    top: -30px;
    left: 150px;
    z-index: -1;
}
