

.slide{
    background: slategrey;
    height: 300px;

    text-align: center;
    font-size: 3em;
    line-height: 6em;
}

.menu{
    background: lightcoral;
    padding: .6em;
    font-size: 2em;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
}

.titulo{
    margin: 0;
}