


/* .title{
    font-family: 'Raleway', sans-serif;
    
}

.paragraph{
    font-family: 'Montserrat', sans-serif;
    
} */

@font-face{
    src: url(/css3-curso/clase24/assets/image/video/fonts/Garland.ttf);
    font-family:'myfont' ;
}

.title{
    font-family: 'myfont';
}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
}

