.container{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 3px solid black;
    position: relative;
}

[class^=box]{
    width: 50px;
    height: 50px;
}

.box1{
    border: 4px solid red;
    position: absolute;
    top: 0px;
    right: 0px;
   
}

.box2{
    border: 4px solid lightpink;
    position: absolute;
    top: 0px;
    left: 0px;
}

.box3{
    border: 4px solid lime;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.box4{
    border: 4px solid purple;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.box5{
    border: 4px solid navy;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
